{% extends "hydro_prospector/base.html" %}
{% load staticfiles tethys_gizmos %}

{% block app_content %}
    <a id="btnNewProject" class="btn btn-primary btn-sm" href="{% url 'hydro_prospector:new_project'%}">New Project</a>

    <h1>Projects</h1>
    <div id="forProjectTable">
        <div class="center-parent" id="waitLoading"><img src="{% static 'hydro_prospector/images/loading.gif' %}"
                                                         style="margin-left: -250px; width:400px;height:50px"></div>
    </div>

{% endblock %}

{% block app_navigation_items %}

{% endblock %}

{% block app_actions %}
    {{ block.super }}
    <link href="{% static 'hydro_prospector/css/home.css' %}" rel="stylesheet"/>
{% endblock %}