{% extends "hydro_prospector/base.html" %}
{% load staticfiles tethys_gizmos %}

{% block app_navigation_items %}
    <li class="title">Navigation</li>
    <li class="nav-btn-wrapper active"><a href="javascript:void(0)" class="nav-btn">Home</a></li>
{% endblock %}

{% block app_content %}
    <a id="btnNewProject" class="btn btn-primary btn-sm" href="{% url 'hydro_prospector:new_project'%}">New Project</a>
    <h1>Projects</h1>
    {% if projects %}
        <div class="table-responsive" id="projects-table">
            <table class="table table-hover" id="project_table">
                <thead>
                    <th>Project ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date Created</th>
                </thead>
                {% for project in projects %}
                    <tr onclick="window.document.location='{% url 'hydro_prospector:project_details' db_id=project.id %}';" style="cursor: pointer;">
                        <td>{{ project.project_id }}</td>
                        <td class="name" data-id="{{ project.name }}"><a href="{% url 'hydro_prospector:project_details' db_id=project.id %}">{{project.name}}</a></td>
                        {% if project.description == '' %}
                        <td class="name" data-id="{{ project.description }}"><i><font color="#A8A8A8">No Description</font></i></td>
                        {% else %}
                        <td class="name" data-id="{{ project.description }}">{{ project.description }}</td>
                        {% endif %}
                        <td class="date_created" data-id="{{ project.date_created }}">{{ project.date_created }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div id="newProject">
        <br><br><br>
        <h4 text-align="center">No Projects Available</h4>
        </div>
    {% endif %}

{% endblock %}

{% block app_actions %}
    {{ block.super }}
    <link href="{% static 'hydro_prospector/css/home.css' %}" rel="stylesheet"/>
{% endblock %}