{% extends "hydro_prospector/base.html" %}

{% block app_navigation_items %}
  <li class="title">Navigation</li>
  <li class="nav-btn-wrapper"><a href="{% url 'hydro_prospector:home'%}" class="nav-btn">Home</a></li>
  <li class="nav-btn-wrapper active"><a href="javascript:void(0)" class="nav-btn">Project Details</a></li>
  <br>
{% endblock %}

{% load static tethys_gizmos %}

{% block app_content %}
  <h1>Project Details</h1>

  <!-- 1st Column -->
  <div class="col-md-6">
    <h6 class="project-details table-header">Summary</h6>
    <table class="table table-hover">
      <tr>
        <td class="name">Project ID</td>
        <td>{{ project_id }}</td>
      </tr>
      <tr>
        <td class="name">Project Name</td>
        <td>{{ project_name }}</td>
      </tr>
      <tr>
        <td class="name">Description</td>
        <td>{{ project_description }}</td>
      </tr>
      <tr>
        <td class="name">Date Created</td>
        <td>{{ project_date_created }}</td>
      </tr>
      <tr>
        <td class="name">Storage Capacity</td>
        {% if project_watershed_status != None %}
          <td>{{ project_watershed_status }}</td>
        {% else %}
          <td><a href="{% url 'hydro_prospector:parent_handoff_manager' %}" class="btn btn-default">Storage Capacity</a></td>
        {% endif %}
      </tr>
    </table>
  </div>

{% endblock %}

{% block app_actions %}

{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}